.header {
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
}

.value {
    height: 50%;
}

.TableContainer {
    margin-top: 20px;
    margin-bottom: 40px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px #ccc;
}