.header{
    display: flex;
    flex-direction: row;
    border-bottom: 2px solid rgb(220, 210, 210);
    justify-content: space-between;
}

.img-container{
    width: 25%;
    height: 35%;
    display: flex;
    flex-direction: row;
}
.header-img{
    width: 5rem;
    margin: auto 0 auto 30%;
}
.logo-text{
    margin: auto 0;
    margin-right: 20%;
}
.header-content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 50%;
    margin: auto 7%;
}
h5{
    color: rgb(10, 18, 30,0.75);
}