
.inputfields{
    width: 50%;
    height: 20%;
    display: flex;
    flex-direction: column;
    margin: 5% 10% 5% 25%;
}
.TextField{
    padding-bottom: 20px;
    padding-right: 30px;
}
.signin_btn{
    display: flex;
    flex-direction: row;
}
.footer_signup{
    width: 50%;
    height: 10%;
    margin-top: 8%;
    margin-left: 32%;
}
.signuplink{
    color: #007bff;
    text-decoration: none;
    margin:auto;
}
.message{
    color: black;
    font-size: 1.3rem;
}